[Desktop Entry]
Name=Sweet-Garuda
X-KDE-PluginInfo-Author=Aditya Raj
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=aditya8raj000@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Sweet-Garuda
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/aditya8Raj
X-KDE-ServiceTypes=Plasma/LookAndFeel
